.entries-container{
  margin-top: 20px;
}
.entries-header {
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  color: white;
}

.entries-add-button {
  border: none;
  background: none;
  cursor: pointer;
}

.add-icon {
  width: 30px;
  height: 30px;
  margin-left: 10%;
}

.entries-list{
  background-color: white;
  width: 60%;
  margin: 0 auto;
  border-radius: 5px;
  padding: 10px;
  padding-top: 40px;
  padding-bottom: 40px;

}
.entries-item {
  display: flex;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
  background: #c0c0c0;
  cursor: pointer;
  transition: background 0.3s;
}

.entries-name {
  font-size: 1rem;
  color: #333;
  padding-left:10px ;
}
.entries-item a {
  text-decoration: none;
  color: inherit;
}
.entries-item:hover {
  background: #d4d4d4;
}
.entry-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  flex-shrink: 0;
}

.noEntriesList{
  text-align: center;
  user-select: none;
}

.modal-close{
  user-select: none;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  user-select: none;
  align-items: center;
}

.pagination button {
  padding: 10px 20px;
  border: 1px solid #ddd;
  background-color: #000000;
  cursor: pointer;
  margin: 0 15px;
  border-radius: 5px;
  color: white;
}

.pagination button:hover {
  background-color: #000000cb;
}

.pagination button:disabled {
  background-color: #606060;
  cursor: not-allowed;
}
@media (max-width: 768px) {
  .entries-container{
    width: 80%;
    margin: 0 auto;
  }
  .entries-list {
    width: 100%;
  }
 
  .entries-name {
    font-size: 1.2rem;
  }
 
}

