.entries-container{
  margin-top: 20px;
}
.entries-header {
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  color: white;
}

.entries-add-button {
  border: none;
  background: none;
  cursor: pointer;
}

.add-icon {
  width: 30px;
  height: 30px;
  margin-left: 10%;
}

.entries-list{
  background-color: white;
  width: 60%;
  margin: 0 auto;
  border-radius: 5px;
  padding: 10px;
  padding-top: 40px;
  padding-bottom: 40px;

}
.entries-item {
  display: flex;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
  background: #c0c0c0;
  cursor: pointer;
  transition: background 0.3s;
}

.entries-name {
  font-size: 1rem;
  color: #333;
  padding-left:10px ;
}
.entries-item a {
  text-decoration: none;
  color: inherit;
}
.entries-item:hover {
  background: #d4d4d4;
}
.entry-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  flex-shrink: 0;
}

.noEntriesList{
  text-align: center;
  user-select: none;
}

.modal-close{
  user-select: none;
}
.entry-detail-description{
  user-select: none;
}
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  user-select: none;
  align-items: center;
}

.pagination button {
  padding: 10px 20px;
  border: 1px solid #ddd;
  background-color: #000000;
  cursor: pointer;
  margin: 0 15px;
  border-radius: 5px;
  color: white;
}

.pagination button:hover {
  background-color: #000000cb;
}

.pagination button:disabled {
  background-color: #606060;
  cursor: not-allowed;
}

/*----Images from entry-detail-----*/
.image-container {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
  justify-content: center;
}

.image-container img {
  width: 150px; /* Tamaño fijo para las miniaturas */
  height: 150px;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  cursor: pointer; /* Indicador de clic */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.image-container img:hover {
  transform: scale(1.1); /* Ampliación al pasar el mouse */
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
}

/* Fondo oscuro para la imagen ampliada */
.zoomed-image-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Contenedor de la imagen ampliada */
.zoomed-image-container {
  position: relative;
  max-width: 20%;  /* Ajuste del tamaño máximo de la imagen */
  max-height: 20%; /* Ajuste del tamaño máximo de la imagen */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Imagen ampliada */
.zoomed-image {
  max-width: 100%;   /* La imagen no superará el contenedor */
  max-height: 100%;  /* La imagen no superará el contenedor */
  object-fit: contain; /* Asegura que la imagen mantenga la proporción sin recortarse */
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(255, 255, 255, 0.2);
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}




@media (max-width: 768px) {
  .entries-container{
    width: 80%;
    margin: 0 auto;
  }
  .entries-list {
    width: 100%;
  }
 
  .entries-name {
    font-size: 1.2rem;
  }
 
}

